menu m4 

<a href="/">home</a>
<a href="/about">about</a>
<a href="/public/img/">img</a>
<a href="/tours/hood-river">hood-river</a>
<a href="/tours/request-group-rate">group-rate</a>
<a href="/headersHtml">headersHtml</a>
<a href="/headersPlain">headersPlain</a>
<a href="/greeting">greeting</a>
<a href="/contact">contact</a>
<a href="/no-layout">no-layout</a>
<a href="/custom-layout">custom-layout</a>
<a href="/process-contact">process-contact</a>
<a href="/api/tours">api/tours</a>

