<h1>Header sent by the browser</h1>
<p>
browser is sending a lot of “invisible” information every time you visit a website.
All this information is sent as a request header, which is made available through
the request object’s headers property.
</p>

<p>
{{ s }}
</p>

